body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/Images/bg.jpg);
    background-size: 100%;
 }
.navbar, .navbar-brand {
    color: skyblue;
}
body {
    margin-left: 200px;
    margin-right: 200px;
}